/* Centering the signup container and making it full screen */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

/* Styling for the signup form */
.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-group {
    width: 100%;
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #333;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input-field:focus {
    outline: none;
    border-color: #4CAF50;
}

/* Styling for the submit signup button */
.submit-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049;
}

/* Styling for the back to login button */
.back-to-login-button {
    padding: 10px 15px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: white;
    color: #4CAF50;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 20px;
}

.back-to-login-button:hover {
    background-color: #4CAF50;
    color: white;
}

.success-message {
    color: green;
    margin-bottom: 10px;
}
