/* Centering the login container and making it full screen */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}

/* Error message styling */
.error-message {
    color: red;
    margin-bottom: 10px;
}

/* Styling for the login form */
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Max width for larger screens */
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.input-field:focus {
    outline: none;
    border-color: #4CAF50; /* Green border on focus */
}

/* Styling for the submit login button */
.submit-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* Styling for the Sign Up button */
.signup-button {
    padding: 10px 15px;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    background-color: white;
    color: #4CAF50;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.signup-button:hover {
    background-color: #4CAF50;
    color: white;
}